<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span jhiTranslate="doctorsPlatformApp.patient.detail.title">Patient</span> {{patient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="doctorsPlatformApp.patient.cin">Cin</span></dt>
                <dd>
                    <span>{{patient.cin}}</span>
                </dd>
                <dt><span jhiTranslate="doctorsPlatformApp.patient.name">Name</span></dt>
                <dd>
                    <span>{{patient.name}}</span>
                </dd>
                <dt><span jhiTranslate="doctorsPlatformApp.patient.email">Email</span></dt>
                <dd>
                    <span>{{patient.email}}</span>
                </dd>
                <dt><span jhiTranslate="doctorsPlatformApp.patient.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{patient.phoneNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
