<div>
    <h2 id="page-heading">
        <span jhiTranslate="doctorsPlatformApp.request.home.title">Requests</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-request" [routerLink]="['/request/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="doctorsPlatformApp.request.home.createLabel">
            Create new Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'doctorsPlatformApp.request.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="requests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date1"><span jhiTranslate="doctorsPlatformApp.request.date1">Date 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date2"><span jhiTranslate="doctorsPlatformApp.request.date2">Date 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date3"><span jhiTranslate="doctorsPlatformApp.request.date3">Date 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="confirmation"><span jhiTranslate="doctorsPlatformApp.request.confirmation">Confirmation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="patientRequests"><span jhiTranslate="doctorsPlatformApp.request.patient">Patient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doctorRequests"><span jhiTranslate="doctorsPlatformApp.request.doctor">Doctor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of requests ;trackBy: trackId">
                <td><a [routerLink]="['/request', request.id, 'view' ]">{{request.id}}</a></td>
                <td>{{request.date1 | date:'mediumDate'}}</td>
                <td>{{request.date2 | date:'mediumDate'}}</td>
                <td>{{request.date3 | date:'mediumDate'}}</td>
                <td>{{request.confirmation}}</td>
                <td>
                    <div *ngIf="request.patientId">
                        <a [routerLink]="['../patient', request.patientId , 'view' ]" >{{request.patientRequests}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="request.doctorId">
                        <a [routerLink]="['../doctor', request.doctorId , 'view' ]" >{{request.doctorRequests}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/request', request.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/request', request.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'request', { outlets: { popup: request.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="requests && requests.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
